#blog-title {
  padding-top: 50px;
  font-size: bold;
}

.mySection {
  border: #b58bda;
  background-color: rgb(217, 141, 217);
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  position: relative;
  color: rgb(25, 13, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(217, 141, 217);
}
body {
  background-color: #b58bda;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #000000;
}
.textsection {
  padding-top: 100px;
  padding-bottom: 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 980px) {
  body {
    background: lightgreen;
  }
  .mySection {
    background: lightgreen;
  }
}
