.container {
  margin: 25px;
  width: 350px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.welcome-title {
  padding-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  position: relative;
  color: rgb(25, 13, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(217, 141, 217);
}
body {
  background-color: #b58bda;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #000000;
}
.textsection {
  padding-top: 1000px;
}

@media only screen and (max-width: 970px) {
  body {
    display: grid;
    align-items: center;
  }
}
